body
{
	background-image: url(telacadastro.jpg);
    background-size: 100% 100%;
           
}

h1{
    padding-top: 3%;
    padding-left: 6%;
    color: gainsboro;
    text-shadow: red 1px -1px 2px, #000 -1px 1px 2px, #000 1px 1px 2px, #000 -1px -1px 2px; 
    font-size: 40px;

}

img
{
	cursor: pointer;
}

#esq1
{
	float:left;
	margin-left: 3%;
	width: 40%;
    padding-top: 2%;
	height: 600px;
}

#esq2
{
	float:right;
    margin-right: 10%;
	width: 80%;
    padding-bottom: 3%;
}



input[type="text"], input[type="email"], input[type="date"], input[type="number"], input[type="search"], select {
 width: 90%;
 padding: 20px 0px;
 background: transparent;
 border: 0;
 border-bottom: 1px solid #435160;
 outline: none;
 color: darkred;
 font-size: 1.5em;
}

input[type="search"]
{
	width: 99%;
}


input[type="button"] {
 background: solid #435160;
 border: 0;
 width: 44.7%;
 height: 40px;
 border-radius: 3px;
 color: aqua: ;
 font-size: 1.3em;
 cursor: pointer;
 transition: background 0.3s ease-in-out;
}
input[type="button"]:hover {
 background: solid #435160;
 animation-name: shake;
}



::-webkit-input-placeholder {
 color: darkred;
 font-size: 0.8em;
}

